# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log

# TypeScript
dist/
*.tsbuildinfo

# Windows addon build (N-API)
windows/addon/build/
windows/addon/**/*.obj
windows/addon/**/*.exp
windows/addon/**/*.lib
windows/addon/**/*.pdb
*.node

# VSCode/IDE configs
.vscode/
.idea/

# Visual Studio build files
*.sln
*.vcxproj
*.vcxproj.*
*.user
*.suo
*.ncb
*.log

# OS system files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Videos / Output
*.mp4

# Env files
.env
